__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
ENV
env.bak
venv.bak
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.mypy_cache/
.pytest_cache/
*.egg-info/
.eggs/
.DS_Store
.env
.env.*
!.env.example
*.log
*.sqlite3
model_files/*
!model_files/.gitkeep
